# PROJECT #2 QUESTIONS OF FREECODECAMP.ORG

## DEMOGRAPHIC DATA ANALYSIS

The demographic data was extracted from the 1994 Census database.

How many people of each race are represented in this dataset?

What is the average age of men? 

What is the percentage of people who have a Bachelor's degree? 

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K? 

What percentage of people without advanced education make more than 50K? 

What is the minimum number of hours a person works per week?

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K? 

What country has the highest percentage of people that earn >50K and what is that percentage?

Identify the most popular occupation for those who earn >50K in India.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('adultdata.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [7]:
#How many people of each race are represented in this dataset?

df["race"].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [8]:
#What is the average age of men?
only_men = df[df.sex == " Male"]
only_men["age"].mean()

39.43354749885268

In [9]:
#What is the percentage of people who have a Bachelor's degree?
percentage_education = df.education.value_counts(normalize = True) * 100
percentage_education.loc[" Bachelors"].round(decimals = 3)

16.446

In [10]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
edu_sal = df[["education","salary"]]
edu_sal_fiftyk = edu_sal[edu_sal.salary == " >50K"]
percentage = edu_sal_fiftyk.value_counts(normalize= True) * 100 #education percentage with > 50k salary
total_percentage = percentage.iloc[0] + percentage.iloc[3] + percentage.iloc[6] #some labels can't be available so these are the indexes of Bachelors,Masters and Doctorate, respectively.
total_percentage.round(decimals = 3)

44.459

In [11]:
#What percentage of people without advanced education make more than 50K?
without_adv = 100 - total_percentage
without_adv.round(decimals = 3)

55.541

In [12]:
#What is the minimum number of hours a person works per week?
df["hours-per-week"].min()

1

In [13]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_hours = df[df["hours-per-week"] == 1]
min_hours_sal = min_hours[["hours-per-week","salary"]]
percentage_min_hours = min_hours_sal.value_counts(normalize= True) * 100
percentage_min_hours

hours-per-week  salary
1                <=50K    90.0
                 >50K     10.0
dtype: float64

In [14]:
percentage_min_hours.iloc[1]

10.0

In [15]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
sal_fiftyk = df[df.salary == " >50K"]
country_fiftyk = sal_fiftyk[["native-country","salary"]]
country_fiftyk

       native-country salary
7       United-States   >50K
8       United-States   >50K
9       United-States   >50K
10      United-States   >50K
11              India   >50K
...               ...    ...
32539   United-States   >50K
32545   United-States   >50K
32554   United-States   >50K
32557   United-States   >50K
32560   United-States   >50K

[7841 rows x 2 columns]

In [16]:
country_fiftyk_per = country_fiftyk.value_counts(normalize=True) * 100
country_fiftyk_per

native-country       salary
 United-States        >50K     91.455172
 ?                    >50K      1.862007
 Philippines          >50K      0.777962
 Germany              >50K      0.561153
 India                >50K      0.510139
 Canada               >50K      0.497386
 Mexico               >50K      0.420865
 England              >50K      0.382604
 Italy                >50K      0.318837
 Cuba                 >50K      0.318837
 Japan                >50K      0.306083
 China                >50K      0.255070
 Taiwan               >50K      0.255070
 Iran                 >50K      0.229563
 South                >50K      0.204056
 Poland               >50K      0.153042
 France               >50K      0.153042
 Puerto-Rico          >50K      0.153042
 Jamaica              >50K      0.127535
 El-Salvador          >50K      0.114781
 Greece               >50K      0.102028
 Cambodia             >50K      0.089274
 Yugoslavia           >50K      0.076521
 Hong                 >50K      0.076521
 Ireland              >50K      0.063767
 Vietnam              >50K      0.063767
 Ecuador              >50K      0.051014
 Haiti                >50K      0.051014
 Portugal             >50K      0.051014
 Scotland             >50K      0.038260
 Thailand             >50K      0.038260
 Hungary              >50K      0.038260
 Guatemala            >50K      0.038260
 Laos                 >50K      0.025507
 Dominican-Republic   >50K      0.025507
 Peru                 >50K      0.025507
 Trinadad&Tobago      >50K      0.025507
 Columbia             >50K      0.025507
 Nicaragua            >50K      0.025507
 Honduras             >50K      0.012753
dtype: float64

In [17]:
country_fiftyk_per.idxmax()

(' United-States', ' >50K')

In [18]:
country_fiftyk_per.max()

91.45517153424308

In [19]:
v1 = country_fiftyk_per.idxmax()
v2 = country_fiftyk_per.max()

In [20]:
print(f"{v1[0]} has the highest percentage of people that earn >50K and its percentage is {round(v2,3)}")

 United-States has the highest percentage of people that earn >50K and its percentage is 91.455

In [21]:
#Identify the most popular occupation for those who earn >50K in India.
india_fiftyk = sal_fiftyk[sal_fiftyk["native-country"] == " India"]
india_fiftyk["occupation"].value_counts().idxmax()

' Prof-specialty'